.navBar-header {
	color: red;
}

.navBar li {
	border: solid black 2px;
	background-color: #d9d9d9;
	list-style: none;
	padding: 10px;
	margin-right: 15px;
	display: inline;
}

.navBar a {
	text-decoration: none;
}

.dataTable {
	border: solid gray 1px;
	font-family: sans-serif;
}

.dataTable th {
	text-align:center;
	border-bottom: solid black 2px;
}

.dataTable td {
	font-size: 14px;
}

/*
* {
	border-style: dotted;
	border-color: blue;
	border-width: 1px;
} */