<div>
  <!-- experiment for DOM manipulation -->
  <!-- <div id="emoji-content">
  </div> -->

  <!-- md virtual repeat -->
  <md-virtual-repeat-container  id="emoji-content" md-top-index="PickerCtrl.topIndex">
    <div md-virtual-repeat="row in PickerCtrl.allEmojis" class="repeated-row">
      {{row}}
    </div>
  </md-virtual-repeat-container>

  <md-nav-bar md-selected-nav-item="PickerCtrl.currentTab" nav-bar-aria-label="picker" ng-cloak>
    <!-- the md-nav-click is required for the tabs to render -->
    <md-nav-item md-nav-click="PickerCtrl.changeTab('faces')" name="faces">
      Faces
    </md-nav-item>
    <md-nav-item md-nav-click="PickerCtrl.changeTab('vehicles')" name="vehicles">
      Vehicles
    </md-nav-item>
    <md-nav-item md-nav-click="PickerCtrl.changeTab('animals')" name="animals">
      Animals
    </md-nav-item>
  </md-nav-bar>
</div>
