<!DOCTYPE html>

<html ng-app="mainApp">
  <head>
    <meta charset="UTF-8">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">

    <!-- md data table style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <title>GW2 Stuff on Desktop</title>
  </head>

  <body>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js">
    </script>

    <!-- md data table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.js">
    </script>

    <!-- Modules -->
    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js">
    </script>

    <!--  Controllers -->
    <script src="index_ctrl.js"></script>
    <script src="build/build_ctrl.js"></script>
    <script src="worlds/worlds_ctrl.js"></script>

    <!-- Services -->
    <script src="components/build/build_service.js"></script>
    <script src="components/worlds/worlds_service.js"></script>
    <script src="components/util/constants.js"></script>

    <md-toolbar>
      <h2>Test</h2>
    </md-toolbar>

    <md-nav-bar md-selected-nav-item="IndexCtrl.selectedTab" nav-bar-aria-label="navigation links" ng-cloak>
      <md-nav-item md-nav-sref="home.build" name="build">Build</md-nav-item>
      <md-nav-item md-nav-sref="home.worlds" name="worlds">Worlds</md-nav-item>
    </md-nav-bar>
    {{IndexCtrl.selectedTab}}
    <div ui-view>
    </div>

    <!-- <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h4 class="navBar-header">Gem to Gold Exchange</h4>
          <img src="http://www.gw2spidy.com/assets/v20150522v1/img/gem-exchange.png" />
          <p>100 gems sell for {{ mainController.gemsToGold_Gold }} <img src="https://wiki.guildwars2.com/images/d/d1/Gold_coin.png" /> {{ mainController.gemsToGold_Silver }} <img src="https://wiki.guildwars2.com/images/3/3c/Silver_coin.png" /></p>
          <p>100 gems cost {{ mainController.goldToGems_Gold }} <img src="https://wiki.guildwars2.com/images/d/d1/Gold_coin.png" /> {{ mainController.goldToGems_Silver }} <img src="https://wiki.guildwars2.com/images/3/3c/Silver_coin.png" /></p>
        </div>

      </div>

      <br><br>

      <div class="row">
        <div class="col-md-6">
          <h4 class="navBar-header">Get Items</h4>
          <button ng-click="mainController.getItems()">Get items</button>
          <button ng-click="mainController.items = ''">Reset</button>

          <br><br>

          <table class="dataTable">
            <thead>
              <tr>
                <th colspan="5">Item Info</th>
              </tr>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Rarity</th>
                <th>Icon</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="item in mainController.items">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.rarity }}</td>
                <td><img ng-src="{{ item.icon }}" /></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <br><br>

      <div class="row">

        <div class="col-md-12">
          <h4 class="navBar-header">Get Colors</h4>
          <button ng-click="mainController.getColors()">Get colors</button>
          <button ng-click="mainController.colors = ''">Reset</button>

          <br><br>

          <table class="dataTable">
            <thead>
              <tr>
                <th colspan="8">Color Info</th>
              </tr>
              <tr>
                <th colspan="2">Basic Info</th>
                <th colspan="2">Cloth</th>
                <th colspan="2">Leather</th>
                <th colspan="2">Metal</th>
              </tr>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>RGB</th>
                <th>Color</th>
                <th>RGB</th>
                <th>Color</th>
                <th>RGB</th>
                <th>Color</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="color in mainController.colors">
                <td>{{ color.id }}</td>
                <td>{{ color.name }}</td>
                <td>{{ color.cloth.rgb }}</td>
                <td ng-attr-style="background-color: rgb({{color.cloth.rgb[0]}}, {{color.cloth.rgb[1]}}, {{color.cloth.rgb[2]}})"></td>
                <td>{{ color.leather.rgb }}</td>
                <td ng-attr-style="background-color: rgb({{color.leather.rgb[0]}}, {{color.leather.rgb[1]}}, {{color.leather.rgb[2]}})"></td>
                <td>{{ color.metal.rgb }}</td>
                <td ng-attr-style="background-color: rgb({{color.metal.rgb[0]}}, {{color.metal.rgb[1]}}, {{color.metal.rgb[2]}})"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </body>
</html>