<div layout="row">
  <div class="gw-sidebar" md-whiteframe="4" ng-show="TestTabCtrl.isOpen" layout="column">
    <md-toolbar layout="row" layout-align="space-between center">
      <h3>Sidebar</h3>
      <md-button ng-click="TestTabCtrl.close()">Close</md-button>
    </md-toolbar>

    <md-content>
      <md-list>
        <md-list-item ng-repeat="item in TestTabCtrl.items">
          {{item}}
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <md-content layout-padding flex>
    <h3>Yay this is working</h3>
    <div>
      <md-button ng-show="!TestTabCtrl.isOpen" ng-click="TestTabCtrl.open()">Show Sidebar</md-button>
    </div>

    <md-card ng-repeat="item in TestTabCtrl.items" flex>
      <md-card-title>
        Title
      </md-card-title>
      <md-card-content>
        {{item}}
      </md-card-content>
    </md-card>
  </md-content>
</div>
