<div ng-if="ItemTooltipCtrl.item" layout="column" layout-align="start stretch"
     md-whiteframe="5" class="gw-tooltip">
  <div layout="row" layout-align="start start">
    <img ng-src="{{ItemTooltipCtrl.item.icon}}" alt="Icon" class="gw-icon gw-tooltip-icon"
         ng-class="'gw-' + ItemTooltipCtrl.item.rarity"/>
    &nbsp; <h4>{{ItemTooltipCtrl.item.name}}</h4>
  </div>
  <span>Level: {{ItemTooltipCtrl.item.level}}</span>
  <span ng-show="ItemTooltipCtrl.item.type === ItemTooltipCtrl.constants.ItemType.ARMOR">
    Weight Class: {{ItemTooltipCtrl.item.details.weight_class}}
    <br>
    Defense: {{ItemTooltipCtrl.item.details.defense | number:0}}
  </span>
  <span ng-show="ItemTooltipCtrl.item.type === ItemTooltipCtrl.constants.ItemType.WEAPON">
    Weapon Type: {{ItemTooltipCtrl.item.details.type}}
    <br>
    Damage: {{ItemTooltipCtrl.item.details.min_power | number:0}} -
            {{ItemTooltipCtrl.item.details.max_power | number:0}}
  </span>

  <md-divider ng-if="ItemTooltipCtrl.item.details.infix_upgrade.attributes"></md-divider>

  <div ng-if="ItemTooltipCtrl.item.details.infix_upgrade.attributes" layout="column" layout-align="start stretch">
    <h4>Attributes</h4>
    <span ng-repeat="attribute in ItemTooltipCtrl.item.details.infix_upgrade.attributes | orderBy: '-modifier'">
      {{attribute.attribute}}: {{attribute.modifier | number:0}}
    </span>
  </div>
</div>
